TZ=Asia/Shanghai

MYSQL_ROOT_PASSWORD=argus_root_change_me
MYSQL_DATABASE=argus_cortex
MYSQL_USER=argus
MYSQL_PASSWORD=argus_change_me
ARGUS_JWT_SECRET=replace_with_a_private_jwt_secret_min_32_chars

KAFKA_KRAFT_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

MINIO_ROOT_USER=argusminio
MINIO_ROOT_PASSWORD=argusminio_change_me
