TZ=Asia/Shanghai

MYSQL_ROOT_PASSWORD=argus_root_change_me
MYSQL_DATABASE=argus_cortex
MYSQL_USER=argus
MYSQL_PASSWORD=argus_change_me
ARGUS_JWT_SECRET=REPLACE_WITH_A_LONG_RANDOM_JWT_SECRET

KAFKA_KRAFT_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

MINIO_ROOT_USER=argusminio
MINIO_ROOT_PASSWORD=argusminio_change_me
